.order {
  text-align: center;
  padding-top: 200px; 
  padding-bottom: 180px;
 
}

.order_product_container { 
  display: flex;
 justify-content: space-between; 
  width: 80%; 
  padding: 20px;
  margin: 0 auto;
  height: auto;
  background-color: aliceblue;
  border-radius: 15px;
  gap:20px;
 
}

.cnt-left {
  flex: 1.2; 
}

.cnt-right{
  flex: 1;
}

.order_product_item {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start; 
}

.order_product_info{

  text-align: left;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  justify-content: flex-start; 
  width :100%;
  padding: 20px;
  margin-top: 30px
}


.order_product_name_price{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding:20px; 
  height: 100px;
}



.orderer_info{
  text-align: left;
  align-items: center; 
  gap: 10px;
  background: #ffffff;
  justify-content: flex-start; 
  width :100%;
  padding: 20px;
  margin-top: 30px
}

.delivery_info{
  text-align: left;
  align-items: center; 
  gap: 10px;
  background: #ffffff;
  justify-content: flex-start; 
  width :100%;
  padding: 20px;
  margin-top: 30px
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container input {
  width: calc(100% - 120px);

  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

.postcode-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.postcode-btn:hover {
  background-color: #0056b3;
}

.input-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

.dropdown {
  width: 100%;
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  background-color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.coupon {
  text-align: left;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  justify-content: flex-start; 
  width :100%;
  padding: 20px;
  margin-top: 30px
}

.coupon-field {
  margin-bottom: 20px;
}

.coupon-field label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}


.coupon-input-group {
  display: flex;
  align-items: center;
}

.coupon-input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;  
}

.coupon-input-group button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.coupon-input-group button:hover {
  background-color: #0056b3;
}


.order-price{
  text-align: left;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  margin-left: auto;
  width :90%;
  padding: 20px;
  margin-top: 30px;
}


.price-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: 20px;
}

.final-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}

.final-price p {
  font-size: 20px;
  color: red;
}



.pay-info{
  text-align: left;
  align-items: center; 
  gap: 10px;
  background: #ffffff;
  margin-left: auto;
  width :90%;
  padding: 20px;
  margin-top: 30px;
  height: 640px;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
}

.payment-option-cell {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

.payment-option {
  font-size: 16px;
}

.selected {
  background-color: #87CEFA; 
  color: white;
  font-weight: bold;
}

.payment-table td:hover {
  background-color: #f0f0f0;
}

.empty-cell {
  background-color: transparent;
  border: none;
  cursor: default;
}
.highlight {
  color: #FF6347;
  font-weight: bold; 
}
.bank-details {
  margin-top: 20px;
}

.bank-details div {
  margin-bottom: 10px;
}

.bank-details input,
.bank-details select {
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
}

.payment-cnt {
  text-align: left;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  margin-left: auto;
  width :90%;
  padding: 20px;
  margin-top: 30px;
}



.checkbox-container {
  margin-bottom: 10px;
}

.checkbox-container label {
  font-size: 16px;
}

.pay-button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pay-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pay-button:hover:enabled {
  background-color: #0004ff;
}
