.footer {
  position : absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    height: 170px;
    position : relative;
    transform : translateY(-100%);
    z-index: 1000; 
  }

 
 .footer-content-wrapper{
    display: flex;
    justify-content: space-around;
  
  
 }
 .footer-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

  div>hr{
    width : 100%;
  }
  .footer-content h3 {
    margin-bottom: 10px;
  }
  
  ul {
    display: flex;
    flex-direction: column;
     padding :0;

  }
  
  li {
    margin: 10px 0;
  }
  
  .footer-link {
    color : black;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
    
  }
  .footer-email{
    display: block;
    text-align: right;
    font-size: 14px;
   
 
  }
  .footer-link:hover {
    color: #f0a500;
  }